.drop-down-menu__total-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:14px;
    &::after{
        content: "";
        display: block;
        width: 348px;
        flex-basis: 100%;
        margin-top: 14px;
        border: 1px solid transparent;
        border-image: url('/media/images/quote_border.png') 1 300/ 1px;
    }
}