.page-stub{
    display: block;
    width: 50%;
    height: 300px;
    background: white no-repeat url('/media/images/Stay-tuned.jpg') center center;
    margin: 10% auto;
    border: 2px solid;
    position: relative;
}