.main-card{
    display: flex;
    flex-wrap: wrap;
    width: $main-width;
    margin: 0 auto 60px;
    gap: 13px;
    position: relative;
    margin-bottom: 74px;
    @include dotted;
    &::after{
        content: none;
    }
}