.page-stub__submit{
        position: absolute;
        font-family: $main-font;
        font-size: larger;
        background-color: transparent;
        display: block;
        width: 80%;
        height: 30%;
        top:65%;
        left: 50%;
        cursor: pointer;
        transform: translateX(-50%);
        border: none;

        &::before,
        &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        background-color: $dark-grey;
        transition: all 250ms ease-in-out;
        }

        &::before {
        width: 4px;
        height: 100%;
        box-shadow: 39.5vw 0 $dark-grey;
        }

        &::after {
        height: 4px;
        width: 100%;
        box-shadow: 0 85px $dark-grey;
        }

        &:hover::before {
        left: -5px;
        box-shadow: 41vw 0 $dark-grey;
        }

        &:hover::after {
        top: -5px;
        box-shadow: 0 98px $dark-grey;
        }
}