.sideshow__block{
    position: relative;
    width: 100%;
    @include tablet{
        height: map-get($map: $slider-img-size, $key:height );
    }
    &:hover .sideshow__mover{
        opacity: (.3);
    }
}
