.drop-down-menu__checkout{
    color:$white;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: filter .2s;
    height: 30px;
    width: 160px;
    letter-spacing: -0.2px;
    &::after{
        content: url("media/images/drop-down-arrow.png");
        padding: 0 0 4px 8px;
    }
    &:hover{
            filter: brightness(.6);
    }
}