RewriteEngine On

RewriteRule ^author/(.*)$ /static/author/$1.html [L]
RewriteRule ^api/(.*)$ /back/api/index.php [L]
RewriteRule ^cover/(.*)$ /media/images/$1 [L]
RewriteRule ^audio/(.*)$ /media/audio/$1 [L]

RewriteRule ^admin/(.*)$ /static/privat/index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/static/public/
RewriteRule (.*) /static/public/$1 [L,QSA]
