@import 'vars';
@import 'resets';
@import 'breakpoint';
@import 'font';
    @import 'block/border/doted';
    @import 'block/styled-text/red-board';
    @import 'block/styled-text/grey-border';
    @import 'block/styled-text/font-weight_bold';
    @import 'block/styled-text/font-weight_bolder';
    @import 'block/mixin/icon-mixin';
    @import 'block/header/_header.scss';
            @import 'block/top-panel/top-panel';
                @import 'block/social/social';
                        @import "block/social/_theme/black";

                @import 'block/registraitin-panel/registration-panel';
                    @import 'block/registraitin-panel/__login/login';
                    @import 'block/registraitin-panel/__registration/_registration.scss';

                @import 'block/basket/_basket.scss';
                    @import 'block/basket/__goods/goods';

                @import 'block/drop-down-menu/drop-down-nenu';
                    
                    @import 'block/drop-down-menu/__total-price/_total-price';
                    @import 'block/drop-down-menu/__cost-text/_cost-text';
                    @import 'block/drop-down-menu/__cost-value/_cost-value';
                    @import 'block/drop-down-menu/__user-choose/_user-choose';
                    @import 'block/drop-down-menu/__view/_view';
                    @import 'block/drop-down-menu/__checkout/_checkout';





            @import 'block/sub-panel/sub-panel';    
                
                @import 'block/header/_logo/logo';
                @import 'block/navigation/navigation';
        @import 'block/sideshow/sideshow';
                @import 'block/sideshow/_bloks/sideshow-bloks';
                @import 'block/sideshow/_text/text';

        @import 'block/quote/quote';
    
        @import 'block/help-block/help-block';

                @import 'block/help-block/help-box/help-box';
                        @import 'block/help-block/help-box/_theme/theme_black';
                        @import 'block/help-block/help-box/_theme/theme_red';            
                    
                    @import 'block/help-block/help-box/__help-title/_help-title';
                    @import 'block/help-block/help-box/__help-text/_help-text';
                            @import 'block/help-block/help-box/__help-text/_type-icon/help-text_type-icon_cd';
                            @import 'block/help-block/help-box/__help-text/_type-icon/help-text_type-icon_headphones';
                            @import 'block/help-block/help-box/__help-text/_type-icon/help-text_type-icon_calendar';

        @import "block/link-album/link-album";
        @import "block/main-card/main-card";
            @import "block/main-card/__publisher-block/_publisher-block";
            @import "block/main-card/_users/users";
                @import "block/main-card/_users/users";
                @import "block/main-card/__publishers/_publishers";
                @import "block/main-card/__publishers/_company/Base";
                @import "block/main-card/__publishers/_company/bird";
                @import "block/main-card/__publishers/_company/inspired";
                @import "block/main-card/__publishers/_company/man";
                @import "block/main-card/__publishers/_company/plant";
                @import "block/main-card/__publishers/_company/wattermellow";
                @import "block/main-card/__publishers/_company/your";
                



            @import "block/arrow/arrow";
                    @import "block/arrow/_direction/direction-left";
                    @import "block/arrow/_direction/direction-right";
                    @import "block/arrow/_direction/direction-bottom";
            @import "block/main-card/__title/_tile";

        @import"block/album-card/_album-card.scss";
                @import "block/album-card/_theme/mini";
               
                @import "block/album-card/_orientation/horizontal";
          
            @import "block/album-card/__container-image/_container-image";
            @import "block/album-card/__cover/_cover";
                    @import "block/album-card/__cover/_special/special";
                    @import "block/album-card/__cover/_discount/discount";
            @import "block/album-card/__information/_information";

               @import "block/album-card/__title/_title";

               @import "block/album-card/__author/_author";

              @import "block/album-card/__estimation/_estimation";
                @import "block/album-card/__score/_score";
                  @import "block/album-card/__star/_star";
                          @import "block/album-card/__star/_state/active";
                          @import "block/album-card/__star/_state/unactive";
                            
            @import "block/album-card/__price/_price";
                    @import "block/album-card/__price/_price-type/price-type_dollar";
                    @import "block/album-card/__price/_price-type/discount";
            @import "block/album-card/__buy-button/_buy-button";


        @import "block/important-info/important-info";

            @import "block/important-info/grid-elem/grod-elem";

            @import "block/important-info/__box-about/_box-about";
            @import "block/important-info/__box-archive/_box-archive";
            @import "block/important-info/__box-relevant/_box-relevant";
            @import "block/important-info/__box-social/_box-social";
                @import "block/important-info/__box-title/_box-title";
            @import "block/important-info/__data/_data";
            @import "block/important-info/__text/_text";

        @import "block/search-form/search-form";
            @import "block/search-form/search-input";
            @import "block/search-form/__button/_button";

        @import "block/box-tag/box-tag";
        @import "block/box-tag/__box-title/_box-title";
        @import "block/box-tag/__tag/_tag";



            @import "block/footer/footer";                


        @import "block/lover-info/lover-info";
            @import "block/lover-info/__copyright-block/_copyright-block";
            @import "block/lover-info/__menu-list/_menu-list";
            @import "block/lover-info/__element-list/_element-list";
            @import "block/lover-info/__menu-link/_menu-link";

            

@import "block/adaptive";
        @import 'block/stub/stub';
            @import 'block/stub/__title/_title';
            @import 'block/stub/__email/_email';
            @import 'block/stub/__submit/_submit';
// @import "block/_flex-block/flex-block";


            

                


::-webkit-scrollbar { 
    display: none; 
    }
    html{
    scroll-behavior: smooth;
    }
body{
    font-family: $main-font;
    background-image: url('media/images/background\ copy.png');
}