@include sDev-d{

    .header .top-panel{
        justify-content: space-around;
        width: 100vw;
    }
.header .top-panel .social a{
    border-radius: 0;
}
.sub-panel{
    justify-content: space-around;
    width: 100vw;
    height: auto;
}
.registration-panel{
    font-size: 15px;
}

.drop-down-menu{
    width: 42vw;
    left: -20.8vw;
    .drop-down-menu__total-price{
        justify-content: center;
        gap: 5%;
        .drop-down-menu__total-cost-text{
            margin: 0;
        }
        .drop-down-menu__total-cost-value{
            margin: 0;
            flex-basis: 100%;
            text-align: center;
        }
    }

    .drop-down-menu__user-choose{
        margin: 5%;
        display: flex;
        .drop-down-menu__view,.drop-down-menu__checkout{
            &::after{
                margin-left: 5%;
            }

        }
    }
}

.styled-text_grey-border {
    display: block;
    padding: 3%;
    background-color: #1e1e20;
}

.album-card_orientation-horizontal{
display: flex;
justify-content: center;
flex-wrap: wrap;
    .album-card__container-image {
        display: inline-block;
        margin: 5%;
        .album-card__cover {
            height: 30px;
            width: 150px;
            margin: 0;
        }
    }
    .album-card__information {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
         margin-top: 0; 
        vertical-align: top;
    }
    .album-card__price {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-bottom: 10%;
    .album-card__price-value{
        margin: 0;
    }

    }


}
.navigation{
        gap: 10%;
        white-space:normal;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5% 0;
    .navigation__elements{
        overflow-wrap: break-word;
        font-size: 15px;
        position: relative;
        a{
            height: auto;
        }
    }
}



    .sideshow{
    .sideshow__bloks1, .sideshow__bloks3{

        img{
            height: 27vw;
            width: 17vw;
            overflow: hidden;
            object-fit: contain;
        }
        &::before{
            content: none;
        }
    }
        .sideshow__text{
            font-size: 12px;
            text-align: center;
            padding: 0;
            height: auto;
        }
       

    }

    .quote{
        padding: 5%;
        width: auto;

        &::after,&::before{
            width: 100%;
        }
    }

    section.main .help-block
   { 
        .help-box{
            width: 30%;
            margin-right: 1%;
            
            .help-box__help-title_type-icon_headphones::before,.help-box__help-title_type-icon_cd::before
            {
 
                left: 60%;
                transform: translateX(70%);
            }   
            .help-box__help-title_type-icon_calendar::before{
                left: 50%;
                transform: translateX(60%);
            }
        }
    }
    

    .main-card{
        position: relative;
        &.main-card_users{
            .main-card__title{
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        &::after,&::before{
            width: 100%;
        }
        width: 100%;
        justify-content: center;

        .album-card{
            border-radius: 100%;
            overflow:hidden;
            .album-card__information{
                opacity: 0;
                padding: 0;
                position: absolute;
            }
            .album-card__cover{
                margin: 0;
                width: 100%;
            
            } 
            &:hover{
                border-radius: 0;
                position: absolute;
                top: 50%;
                width: 35%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%,-50%);
               border-radius: 3px;
               .album-card__cover{
                width: 75%;
               }

               .album-card__cover_special::after {
                background: no-repeat url(/media/images/albums/album-main-4.png) 30% 30%/60%;
                filter: brightness(1);
                position: absolute;
                content: "";
                display: block;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
            .album-card__cover_special::before {
                border-radius: 3px;
                background: rgba(0,0,0,.8);
                position: absolute;
                content: "";
                display: block;
                top: 0;
                width: 73%;
                height: 97%;
                transform: translate(1%, 1%);
                z-index: 1;
            }
                .album-card__information{
                    opacity: 1;
                    position: static;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0;
                    vertical-align: top;

                    .album-card__description{
                        text-align: center;
                    }
                }

                .album-card__price{
                    width: 100%;
                    justify-content: space-around;
                    margin-bottom: 3%;
                }
            }
        }
            
        .arrow{
            display: none;
        }

        .album-card_price_discount .album-card__container-image::before{
                
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
            position: absolute;
            z-index: 1;
        }

    }
    
    // .arrow-direction_up{
    //     right: 2rem;
    //     bottom: 2rem;
    //     cursor: pointer;
    //     opacity: 100%;
    //     transition: opacity 0.1s;
    //     &.hidden{
    //         display: none;
              
    //     }
    // }

.footer{
    display: none;
}
    .lover-info{
        width: 100%;
    }
    .main-card__publisher-block{
        width: 33%;
    }
}