@include bg-img(inspired);
// /*.main-card__publisher-block:has(.main-card__publishers_company_inspired),*/ 
 .main-card__publisher-block:nth-child(4)
{
    flex-wrap: wrap;
    &::after{
           content: 'InspiredTemplate';
            font-size: 15px;
            font-family: "Arial";
            color: rgb(28, 28, 28);
            position: absolute;
            display: inline;
            bottom: 10px;
            left: 53%;
            transform: translateX(-50%);
}
}