.important-info__data{
    display: block;
    color:$white;
    padding-bottom: 13px;
    position: relative;
    &::after
    {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        bottom: 0px;
        height: 1px;
        background: url('/media/images/quote_border.png');
    }
    &:nth-child(n+1){
        padding-top: 18px;
    }
    &:last-child{
        &::after{
            display: none;
        }
    }
}