.sideshow{
    div[class*=bloks]{
        position: relative;
        
    }
    div[class*=bloks] {
        @include tablet{
            height: map-get($map: $slider-img-size, $key:height );
        }
        img {
            object-fit: cover;
            display: block;
        }
    }
    // .sideshow__bloks2 img{
    //      width: 100%;        
    
    // }
    @include tablet-up
    {
        .sideshow__bloks2 img
        {
            width: map-get($slider-img-size, width );       
        }
    }
    .sideshow__bloks2 {
        border: solid $slider-border-size  $dark-grey;
        border-top: none;
        border-bottom: none;
        // margin:0  $slider-border-size 0 0;
    }
    // .sideshow__bloks1 img, .sideshow__bloks3 img
    // {
    //     width: 321px;
    //     @include sDev
    //     {
    //     width: 20.6vw;
    //     }
    // }   
}

.sideshow__bloks1::before{
    content: "";
    display: block;
    background: url('media/images/sideshow-arrow_left.png') no-repeat center center, rgba(0, 0, 0,.3);
    width: 80px;    
    height: 80px;
    border-radius:100%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: opacity .3s;
}
.sideshow__bloks1:hover::before,.sideshow__bloks3:hover::before{
    opacity: (.3);
}



.sideshow__bloks3::before{
    content: "";
    display: block;
    background: url('media/images/sideshow_arrow-right.png') no-repeat center center, rgba(0, 0, 0,.3);
    width: 80px;    
    height: 80px;
    border-radius:100%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: opacity .3s;
}

