.important-info{
    // width: $width-block;
    display: flex;
    // grid-template-columns:216px 207px 210px 216px;
    // grid-template-rows:auto auto;
    margin: 33px auto 0;
    gap: 40px 44px;
    justify-content: center;
    // grid-template-areas:
    // "A B C D"
    // "E B C F"
}