.sideshow__mover_background_arrow-right{
    background-color: rgba(0,0,0, .3);
    background-image:  url('/media/images/sideshow_arrow-right.png');
    background-position: center center;
    background-repeat: no-repeat;
}