.quote{
    position: relative;
    margin: $qoute-margin-vert auto;
    padding: $qoute-paddint-ver ;
    text-align: center;
    display: block;
    width: map-get($slider-img-size, width )-100px;
    font-family: $h-font;
    font-size: 42px;
    padding: 12px 0px 0px 16px;
    letter-spacing: -.8px;
    font-weight: 400;
   @include dotted;
   &::before{
    left: -55px;
    top: -1px;
   }
   &::after{
    left: -54px;
    top: 115%;
   }
}