.quote{
    position: relative;
    margin: $qoute-margin-vert auto;
    padding: $qoute-paddint-ver ;
    text-align: center;
    display: block;
    width: map-get($slider-img-size, width )+30px;
    font-family: $h-font;
    font-size: $m-font-size*1.8;

   @include dotted;
}