
.social{
    display: flex;
    align-items: center;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 2px;
    gap: 5px;
    .facebook{
        background:no-repeat center center/23px 23px url('/media/images/facebook-top-icon.png');
        
    }
    .drible{
        background:no-repeat center center/23px 23px url('/media/images/top-dribble-icon.png');
    }
    .twitter{
        background:no-repeat center center/23px 23px url('/media/images/top-twitter-icon.png');
    }
    .mail{
        background:no-repeat center center/23px 23px url('/media/images/top-mail-icon.png');
    }
    .vimeo{
        background:no-repeat center center/23px 23px url('/media/images/top-vimeo-icon.png');
    }
    .digg{
        background: no-repeat url('/media/images/digg-logo.png') center center;
    }

    a{
        display: block;
        width: 25px;
        height: 25px;
    }

}
