
.header{
    margin-bottom:20px ;
    &::after{
        content: ' ';
        display: block;
        position: absolute;
        width: 100%;
        height: 41px;
        top: 0;
        border-top: 3px solid $red;
        background-color: $registration-back-col;
        z-index: -1;
    }
}