.charts-block{
    width: 50%;
    margin: 3%;
    border: 2px solid black;
    border-bottom-color:transparent;
    display: inline-block;
    position: relative;
    font-size: 24px;
    .album-card{
        border: 2px solid transparent;
        border-bottom-color: black;

        &::after,&::before{
            display: none;
        }
    }
      .pos{
        position: absolute;
        top: 0;
        right: 10%;
        width: 5px;
        height: 5px;
      }
      @for $i from 1 through 8 {
        .album-card_orientation-horizontal:nth-child(#{$i}) .pos::after {
            content: "#{$i}";
            font-size: 30px;
            position: absolute;
            font-weight: bolder;
            color:$dark-red;
            top:0;
            left: 0;
            font-family: $h-font;
        }
      }

    .album-card_orientation-horizontal 
    {

        span{
            display: block;
            font-size: 20px;
            margin: 0;
        }

        .album-card__title{
            font-size: 24px;
            &::before{
                display: none;
            }
        }
        .album-card__author{
            font-size: 20px;
        }
        .album-card__star{
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            display: block;
        }
        .album-card__container-image .album-card__cover {
            width: auto;
            height: auto;
            margin: 0;
        }
        .estimation{
            width: 50%;
            margin-left: 15px;
            margin-bottom: 2%;
            span{
                display: flex;
                gap: 5%;
                align-items: center;
            }
        }
      .album-card__estimation{
            display: inline-flex;
            align-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 2%;
          
            // .album-card__estimation{
            //     height: 100%;
            //     flex-basis: 100%;
            //     justify-content: center;
                
            // }
        }
    }
}