.sub-panel{
    width: $main-width;
    margin: -2px auto 0;
    display: grid;
    grid-template-columns: repeat(16,60px);
    justify-content: space-between;
    align-items: center;
    height: 96px;
    
}