.footer{
    background: $back-color url('/media/images/background-important-info.png');
    position: relative;
    border-top: 5px solid black;
      
  &::after{
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    opacity: 0.039;
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
  }
}