.album-card__container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        width:60px;
        height:1000px;
        position:absolute;
        left:-100%;
        top:-100%;    
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 15%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 85%);
        background: -webkit-gradient(linear, left top, right top, color-stop(15%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 15%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 85%);
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 15%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 85%);
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 15%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 85%);
        background: linear-gradient(to right,   rgba(255,255,255,0) 10%,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 95%);
        z-index: 1;
    
         -webkit-transform: rotate(25deg);  
             -moz-transform: rotate(25deg);  
              -ms-transform: rotate(25deg);  
               -o-transform: rotate(25deg);  
                  transform: rotate(25deg);  
    }
    &:hover::after{
        -webkit-animation-name: move;
        -webkit-animation-duration: .8s;   
        animation-name: move;
        animation-duration: 2s;    
    }
}


@-webkit-keyframes move{
    from {    
    left: -400px;
    }    
    to {    
    left: 100%;
    }   
}
@keyframes move{
    from {    
        left:-50%;
        top:-100%;  
    transform: rotate(-10deg);  
    }    
    to {    
    left: 100%;
    top:20%;
    transform: rotate(90deg);  
    }   
}