.registration-panel__login{
    &::after{
        content: ' / ';
        display: inline-block;
        padding: 0px 4px 5px 4px;
    }
}
#logDialog[open]{
    position: absolute;
    top: 3%;
    left: 50%;
    width: 400px;
    transform: translateX(-50%);

    label{
        display: inline-block;
        margin: 3% 0 0 3%;
        width: 120px;
    }
    fieldset{
        border: none;
    }
    .close{
        position: absolute;
        top: 0%;
        left: 90%;
    }
    button{
       margin: 3% auto 2%;
       display: block;
    }
}
