.album-card_theme_mini{
    margin: 0;
    background: none;
    display: flex;
    column-gap: 10px;
    .album-card__cover{
        width: 90px;
        height: 70px;
        border:10px solid #28292a;
        object-fit: cover;
      }
      .album-card__title{
        color: $white;
        display: block;
        font-size: 13px;
        margin-bottom: 12px;
      }
      .album-card__comment{
        color: $white;
        font-size: 11px;

        &::before{
            content: '';
            background: no-repeat url('/media/images/comments.png') center center;
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-right: 7px;
        }
      }
}