.drop-down-menu{
    position: absolute;
    top: 42px;
    left: 0px;
    
    opacity: 0;
    display: none;
    transition: opacity .5s;
    z-index: 1;
    animation: exist .3s ;
    animation-play-state: paused;
    &:hover{
        opacity: 1;
        display: block;
    }
    @keyframes exist {
        0%{
            display: block;
            transform: translateY(2%);
        }
        100%{
            opacity: 1;
            transform: translate(0);
        }
    }
}