@import 'const/vars' ;
@import 'const/resets' ;
@import 'const/breakpoint' ;
@import 'const/font' ;
    @import '../../block/styled-text/red-board';
    @import '../../block/styled-text/grey-border';
    @import '../../block/styled-text/font-weight_bold';
    @import '../../block/styled-text/font-weight_bolder';
    @import '../../block/mixin/icon-mixin';
    @import '../../block/header/_header.scss';
            @import '../../block/top-panel/top-panel';
                @import '../../block/social/social';
                        @import "../../block/social/_theme/black";

                @import '../../block/registraitin-panel/registration-panel';
                    @import '../../block/registraitin-panel/__login/login';
                    @import '../../block/registraitin-panel/__registration/_registration.scss';

                @import '../../block/basket/_basket.scss';
                    @import '../../block/basket/__goods/goods';

                @import '../../block/drop-down-menu/drop-down-nenu';
                    
                    @import '../../block/drop-down-menu/__total-price/_total-price';
                    @import '../../block/drop-down-menu/__cost-text/_cost-text';
                    @import '../../block/drop-down-menu/__cost-value/_cost-value';
                    @import '../../block/drop-down-menu/__user-choose/_user-choose';
                    @import '../../block/drop-down-menu/__view/_view';
                    @import '../../block/drop-down-menu/__checkout/_checkout';

                @import '../../block/sub-panel/sub-panel';    
                
                    @import '../../block/header/_logo/logo';
                    @import '../../block/navigation/navigation';
    

                @import '../../block/charts-block/charts-block';
                
                    @import "../../block/album-card/_album-card.scss";
                        @import "../../block/album-card/_theme/mini";
                        @import "../../block/album-card/_orientation/horizontal";
                        
                            @import "../../block/album-card/__information/_information";

                    @import "../../block/album-card/__container-image/_container-image";
                        @import "../../block/album-card/__cover/_cover";



                                    
                            @import "../../block/arrow/arrow";
                            @import "../../block/arrow/_direction/direction-bottom";

                    @import "../../block/important-info/important-info";

                    @import "../../block/important-info/grid-elem/grod-elem";
                        @import "../../block/important-info/__box-about/_box-about";
                        @import "../../block/important-info/__box-archive/_box-archive";
                        @import "../../block/important-info/__box-relevant/_box-relevant";
                        @import "../../block/important-info/__box-social/_box-social";
                        @import "../../block/important-info/__box-title/_box-title";
                        @import "../../block/important-info/__data/_data";
                        @import "../../block/important-info/__text/_text";
                    @import "../../block/footer/footer";
                        @import "../../block/search-form/search-form";
                            @import "../../block/search-form/search-input";
                            @import "../../block/search-form/__button/_button";
                
                        @import "../../block/box-tag/box-tag";
                            @import "../../block/box-tag/__box-title/_box-title";
                            @import "../../block/box-tag/__tag/_tag";
                

                    @import "../../block/album-card/__estimation/_estimation";
                            @import "../../block/album-card/__score/_score";
                            @import "../../block/album-card/__star/_star";
                                @import "../../block/album-card/__star/_state/active";
                                @import "../../block/album-card/__star/_state/unactive";

                                @import "../../block/album-card/__title/_title";

                                @import "../../block/album-card/__author/_author";
                    @import '../../block/charts-block/charts-block';
                    @import '../../block/charts-setting/charts-setting';
                            @import '../../block/charts-setting/__type/_type';
                            @import '../../block/charts-setting/__format/_format';
                            @import '../../block/charts-setting/__genres/_genres';
                            @import '../../block/charts-setting/__update/_update';

                    @import "../../block/album-card/__price/_price";
                            @import "../../block/album-card/__price/_price-type/price-type_dollar";
                            @import "../../block/album-card/__price/_price-type/discount";
                    @import "../../block/album-card/__buy-button/_buy-button";

                    

                    @import "../../block/lover-info/lover-info";
                        @import "../../block/lover-info/__copyright-block/_copyright-block";
                        @import "../../block/lover-info/__menu-list/_menu-list";
                        @import "../../block/lover-info/__element-list/_element-list";
                        @import "../../block/lover-info/__menu-link/_menu-link";
            

                        ::-webkit-scrollbar { 
                            display: none; 
                            }
                            html{
                            scroll-behavior: smooth;
                            }
                        body{
                            font-family: $main-font;
                            background-image: url('/media/images/background\ copy.png');
                        }
                        @include sDev-d{

                            .header .top-panel{
                                justify-content: space-around;
                                width: 100vw;
                            }
                        .header .top-panel .social a{
                            border-radius: 0;
                        }
                        .sub-panel{
                            justify-content: space-around;
                            width: 100vw;
                            display: flex;
                            height: auto;
                        }
                        .registration-panel{
                            font-size: 15px;
                        }
                        
                        .drop-down-menu{
                            width: 42vw;
                            left: -20.8vw;
                            .drop-down-menu__total-price{
                                justify-content: center;
                                gap: 5%;
                                .drop-down-menu__total-cost-text{
                                    margin: 0;
                                }
                                .drop-down-menu__total-cost-value{
                                    margin: 0;
                                    flex-basis: 100%;
                                    text-align: center;
                                }
                            }
                        
                            .drop-down-menu__user-choose{
                                margin: 5%;
                                display: flex;
                                .drop-down-menu__view,.drop-down-menu__checkout{
                                    &::after{
                                        margin-left: 5%;
                                    }
                        
                                }
                            }
                        }
                        
                        .styled-text_grey-border {
                            display: block;
                            padding: 3%;
                            background-color: #1e1e20;
                        }
                        
                        .album-card_orientation-horizontal{
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                            .album-card__container-image {
                                display: inline-block;
                                margin: 5%;
                                .album-card__cover {
                                    height: 30px;
                                    width: 150px;
                                    margin: 0;
                                }
                            }
                            .album-card__information {
                                padding: 0;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;
                                 margin-top: 0; 
                                vertical-align: top;
                            }
                            .album-card__price {
                                display: inline-block;
                                vertical-align: top;
                                position: relative;
                                margin-bottom: 10%;
                            .album-card__price-value{
                                margin: 0;
                            }
                        
                            }         
                        }

                        .footer{
                            display: none;
                        }
                            .lover-info{
                                width: 100%;
                            }
                            .main-card__publisher-block{
                                width: 33%;
                            }

            }
