$media-size: (
    Comp: 1920px,
    tablet:1600px,
    sDevice:960px,
);

$main-font: Arial, Helvetica, sans-serif;
$h-font: 'Oswald', 'MyriadPro', Arial;

$m-font-size:20px;
$lover-info-bg_col:#1b1b1b;
$main-width:960px;
$logo-size:60px;
$social-size:25px;
$mini-cover-size:60px;
$main-cover-size:228px;
$footer-cover-size:70px;
$arrow-size_square:20px;
$sponsor-logo-size:(
    width:160px,
    heihgt:130px
);
$slider-img-size:(
    width:930px,
    height:420px
);
$slider-border-size:2vmin;
$sideshow_text-height:46px;

$main-block-top_title:-7px;


$discount-im-left_pos:11px;
$discount-im-top_pos:10px;


$publishers-img-w:161px;
$publishers-img-h:131px;

$registration-back-col:#2a2b2c;
$back-color: #191919;
$dark-red:#b71e1e;
$red:#cc3333;
$mid-light-red:#cd3737;
$light-red:#e45757;
$white:#fdfdfd;
$dirt-white:#eaeaea;
$dark-grey: #1e1e20;
$grey:#3d3d3d;
$width-block:960px;
$qoute-margin-vert:47px;

$sideshow_text-paddint:(
    vert:14px,
    hor:20px
);

$drop-down-padding: 20px;

$qoute-paddint-ver:24px;

$help-text-padding:(
    hor:20px,
    vert:16px
);
$help-title-paddint:(
    top:24px,
    bot:19px
);


$styled-text_board_padding:9px;


