.album-card_orientation_horizontal{
    width: 100%;
    display: inline-block;
    color: $dark-grey;
    box-shadow: none;
    position: relative;
    margin: 1px 0 0 0;
    border-bottom: transparent 1px solid;
    border-top: none;
    &::after{
        content: "";
        display: block;
        width: 99%;
        border: 1px solid transparent;
        border-image: url('/media/images/quote_border.png') 1 300/ 1px;
    }
    .album-card__container-image{
        display: inline-block;
        height: auto;
        margin: 7px 10px 17px 15px;
        .album-card__cover{
            width: 60px;
            height: 60px;
            margin: 0;
        }
    }



    .album-card__title{
        font-size: 13px;
        margin: 0px 0px 0px -4px;
        letter-spacing: -.2px;
    }
    .album-card__author{
        font-size: 13px;
        display: inline-block;
        margin-left: -6px;
        &::after{
        font-size: 13px;
        margin-left: 12px;
        margin-right: 2px;
        margin: 0px 0px 0px -6px;
        }
    }
    .album-card__information{
        padding: 0;
        display: inline-block;
        margin-top: 7px;
        vertical-align:top;
    }
   .album-card__estimation{
    margin: 3px 0 0 -5px;
    display: flex;
    gap: 1px;
   }
   .album-card__price
   {
    display: inline-block;
    vertical-align:top;
    position: relative;
        .album-card__price-value{
        display: inline-block;
        font-size: 14px;
        
        margin: 7px 0 0 48px;

           
    }

    .album-card__delete{
        display: block;
        content: "x";
        font-size: 14px;
        border-radius: 50%;
        background-color: $red;
        color:$white;
        width: 16px;
        height: 16px;
        text-align: center;
        position: absolute;
        right: 15px;
        bottom: -19px;
    }

}}
@for $i from 1 through 2 {
    .album-card_orientation-horizontal:nth-child(#{$i}) {
      .album-card__title::before{
        content:  '#{$i} x';
        padding-right: 3px;
    }
    }
  }