.arrow{
        border-radius: 3px;
        background-color: $red;
        width: $arrow-size_square;
        height: $arrow-size_square;
        position: absolute;
        top:$main-block-top_title;
}